body {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 5%;
}

.logo {
  margin-right: 16px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
}

.nav-item {
  margin-right: 16px;
}

.book-list {
  padding: 16px 5%;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.form-add-book {
  padding: 16px 5%;
}

.categories-container {
  padding: 16px 30%;
}

.book-update {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 1px dashed #ccc;
}

#book-title {
  width: 800px;
  height: 30px;
  margin-right: 20px;
}

#category {
  width: 200px;
  margin-right: 20px;
  height: 30px;
}
